{% block content %}
    <div class="ui tab" data-tab="channelSpecialPricings">
        {% set variantForm = form.variant %}

        {% include 'Brille24SyliusSpecialPricePlugin::_specialPrice.html.twig' with {
            'form': variantForm.channelSpecialPricings
        } %}
    </div>
{% endblock %}
