<div class="ui tab" data-tab="channelSpecialPricings">
    {% set variantForm = form.variant|default(form) %}

    {% include '@Brille24SyliusSpecialPricePlugin/form/_specialPrice.html.twig' with {
        'form': variantForm.channelSpecialPricings
    } %}
</div>
